h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: brown;
    margin-bottom: 50px;
    text-align: center;
    font-size:60px;
}


section{
    margin-left: 250px;
    
}

#borda{
    border: 1px solid black;
}

div{
    
   
    margin: 1px ;
    width: 200px;
    height: 200px;
}



.blocos
{
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 colunas com uma fração do espaço. Usar 1/6 do espaço em cada.*/
    grid-template-rows: repeat(5, 1fr);  /* 5 linhas. Usar 1/5 do espaço cada*/
    grid-gap: 0px;
    width: 200px;
    height: 200px;
    
}

.blocos div{
    background-color: red;
    
}

#blockB {
   background-color: rgb(49, 238, 245);
   
}
#blockG{
    
    background-color: rgb(39, 248, 32);
    
}
#blockY{
    background-color: rgb(248, 232, 5);
    
}